.info-row {
  padding: 8px 16px;
  line-height: 2em;
  background: darkgrey;
  border-radius: 4px;
  margin-bottom: 16px;
}

.info-header {
  font-size: 24px;
  margin-bottom: 16px;
}

.info-grid {
  width: 50%;
}