@import './common/colors';

.title {
  font-size: 24px;
  font-weight: bold;
  color: $cool-blue;
  margin-bottom: 16px;
}

.results {
  display: flex;
}

.results-grid {
  width: 50%;
  padding-right: 32px;

  .result-row {
    display: flex;
    border-bottom: 1px solid lightgrey;
    line-height: 2em;
    padding: 8px 16px;
    cursor: pointer;
    :first-child {
      flex-basis: 80%;
    }

    &.header {
      background-color: lightgrey;
      border-radius: 4px;
      cursor: default;
    }
  }
}
